@model StartQuran.Service.InvoiceService.Model.TotalTeacherInvoice
@{
    ViewData["Title"] = "الفاتورة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: white;direction:ltr;" class="invoice p-3 mb-3">
    
    <!-- Table row -->
    <div class="row">
        <div class="col-12 table-responsive">
              <table id="example1" class="table table-bordered table-striped" data-page-length='100'>
                <thead>
                    <tr style="text-align:center">
                        <th>المعلم</th>
                        <th>Section</th>
                        <th>Hour</th>
                        <th>Cash</th>
                         <th>ID Number</th>
                        <th><input type="date" value="@Model.date" id="DateInvoiceTotalTeacher" /></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.InvoiceTeacher)
                    {
                        if (item.NumOfSection > 0)
                        {
                             <tr style="text-align:center">
                                <td>@item.Teacher.fullName</td>
                                <td>@item.NumOfSection</td>
                                <td>@item.NumOfHour</td>
                                <td>@item.TotalPayMent</td>
                                <td>@item.Teacher.IDNumber</td>
                                <td>
                                     @if (User.IsInRole("ADMIN"))
                                    {
                                        <a class="btn btn-warning" asp-controller="Invoice" asp-action="Teacher" asp-route-id="@item.Teacher.Id"  title="الفاتورة"><i class="fas fa-file-invoice"></i></a>
                                    }
                                </td>
                             </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row" >
        <!-- accepted payments column -->
        <div class="col-6" hidden>
            <p class="lead">Payment Methods:</p>
            <img src="~/Design/dist/img/credit/visa.png" alt="Visa">
            <img src="~/Design/dist/img/credit/mastercard.png" alt="Mastercard">
            <img src="~/Design/dist/img/credit/american-express.png" alt="American Express">
            <img src="~/Design/dist/img/credit/paypal2.png" alt="Paypal">

            <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem
                plugg
                dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
            </p>
        </div>
        <!-- /.col -->
        <div class="col-6">
              <p class="lead">Amount Due :   @String.Format("{0: MMMM , yyyy}", @Model.date)</p>

            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th style="width:50%">Hours:</th>
                        <td>@Model.NumOfHour</td>
                    </tr>
                    <tr>
                        <th style="width:50%">Section:</th>
                        <td>@Model.NumOfSection</td>
                    </tr>

                     <tr>
                        <th style="width:50%">Teacher Predecessors:</th>
                        <td>@Model.TotalPredecessor</td>
                    </tr>
                    <tr>
                        <th>Total Teacher:</th>
                        <td>$@Model.TotalPayMent</td>
                    </tr>

                     <tr>
                        <th>Total Marketer:</th>
                        <td>$@Model.TotalMarketer</td>
                    </tr>

                    <tr>
                        <th>Total:</th>
                        <td>$@Model.Total</td>
                    </tr>
                   
                </table>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-12">
            <a  onclick="PrintPage()" rel="noopener" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
            @*<button type="button" class="btn btn-success float-right">
                <i class="far fa-credit-card"></i> Submit
                Payment
            </button>*@
            
        </div>
    </div>
</div>



 <script>

        function PrintPage(){
              window.addEventListener(window.print());
         }
 </script>
