@model tarteel.Service.ModeratorTeacherService.Model.ModeratorSupervisorRM

@{

    if (ViewBag.ActionName == "Update")
    {
        ViewData["Title"] = "تعديل ";

    }
    {
        ViewData["Title"] = "أضافة ";

    }
    var messageTemp = TempData["AlertMessage"] ?? string.Empty;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                    <div class="card-header">
                        @if (ViewBag.ActionName == "Update")
                        {
                            <h3 class="card-title">تعديل </h3>


                        }
                        else
                        {
                            <h3 class="card-title">أضافة </h3>


                        }
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-action="@ViewBag.ActionName" asp-controller="ModeratorSupervisor" method="post" enctype="multipart/form-data" id="quickForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @if (ViewBag.ActionName == "Update")
                        {
                            <input type="hidden" asp-for="ID" class="form-control" value="@Model.ID" />
                        }
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ModeratorId">المشرف العام</label>
                                 <input readonly class="form-control" value="@ViewBag.moderators.FullName" />
                                  <input type="hidden" asp-for="ModeratorId" class="form-control" value="@ViewBag.moderators.Id" />

                            </div>
                            

                            <div class="form-group">
                                <label for="SupervisorId">المشرف</label>
                                <select class="form-control select2" required name="SupervisorId" asp-for="SupervisorId" asp-items="@ViewBag.Supervisors">
                                    <option value="null">أختر المشرف</option>

                                </select>

                            </div>

                        </div>

                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button id="btnSave" type="submit" class="btn btn-primary">حفظ</button>

                        </div>
                    </form>

                </div>
                <!-- /.card -->
                <button onclick="cancle()" style="float:right" class="btn btn-danger">رجوع</button>

            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">
    $("#btnSave").click(function () {
        $("#quickForm").submit();

    });
      var message = '@messageTemp';
    if (message) {
        if (message == "Done") {

            Swal.fire({
                icon: 'success',
                title: 'عمل جيد',
                text: 'تم الحفظ',
            })

        }
        else if (message == "Exist") {

            Swal.fire({
                icon: 'error',
                title: 'هناك مشكله',
                text: 'هذا الطالب لدى المدرس بالفعل'
            })

        }
        else {
            Swal.fire({
                icon: 'error',
                title: 'هناك مشكله',
                text: 'لم يتم الحفظ'
            })
        }
    }
    function cancle() {
        window.location.assign('/StudentTeacher/Index');

    }
     



   
</script>
